
#mid {
	margin: 0px 20px;
	background: #000;
	font-size: 20px;
}
div.rtop {
	display: block;
	background: #fff;
}
div.rtop div {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #000;
}
div.r1 {
	margin: 0 3px;
}
div.r2 {
	margin: 0 2px;
}
div.r3 {
	margin: 0 1px;
}
div.rtop div.r4 {
	margin: 0 1px;
	height: 1px;
}
